<div class="checkout-onepage-success">
    <div class="head-success">
        <h2>Cảm ơn bạn đã mua sắm tại Lotte.vn</h2>
        <p>Vui lòng kiểm tra thông tin đặt hàng của bạn và hoàn thành giao dịch</p>
    </div>

    <div class="clearfix">
        <div class="pull-right">
            <div class="success-banner">
                <a>
                    <img title="Lotte.vn" src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/CARTADS_1.jpg" alt="Cám ơn quý khách" width="280"></a>
            </div>
        </div>
        <div class="middle-content">
            <div class="list-products">
                <h2>Order number : <span>041017100761</span>.</h2>
                <ul>
                    <li>
                        <p>Son Lì 3CE LILY MAY MAC MATTE LIP COLOR #119 HOLD ON 3,5g</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Nồi Cơm Điện Tử Electrolux ERC6503W - 1.2L (Trắng)</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Điện thoại Asus ZenFone 4 Max pro ZC554KL (Đen mờ) - Hãng phân phối chính thức</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Điện Thoại Xiaomi Mi A1 (Đen nhám) - Hàng phân phối chính hãng Digiworld</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Lò nướng Homemax HMLN-00TOGL28 (Đen)</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Bếp Ga Âm Fujipan FJ-8910V</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Bếp gas đôi Rinnai RV-365SW(N)</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Dung dịch dưỡng da loại bỏ tế bào chết Paula's Choice Skin Perfecting 2% BHA Liquid 30ml</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Gel Dưỡng ẩm cho da khô Neutrogena Hydra Boost Gel Cream 48g</p>
                        <p>Số lượng: 1</p>
                    </li>
                    <li>
                        <p>Xịt khoáng Evoluderm Eau Pure Atomiseur 150ml</p>
                        <p>Số lượng: 1</p>
                    </li>
                </ul>
            </div>
            <p class="shipping-address-title"> Sản phẩm này sẽ được giao đến:</p>
            <div class="order-info">
                <div class="shipping-address pull-left">

                    <p class="name"><strong>Duong Vuong</strong></p>
                    <p>
                        aa Xã Gia Xuyên, Huyện Gia Lộc, Hải Dương </p>
                    <p>
                        <label>Email : </label>aaa@a.com </p>
                    <p>
                        <label>Điện thoại: </label>81781094849 </p>
                </div>
                <div class="date-and-price pull-left">
                    <div class="total-info">
                        <p>
                            <strong><label>Số tiền: </label><span class="price">14.935.000&nbsp;Đ</span></strong>
                        </p>
                        <p>
                            <label>Thanh Toán: </label>Cash On Delivery </p>
                    </div>
                    <div class="shipping-date">
                        <p>
                            <strong>Ngày giao hàng dự kiến:</strong>
                        </p>
                        <p>
                            5 - 8 ngày </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="end-success">
        <p>
            Để quản lý hoặc trả lại đơn đặt hàng của bạn, xin vui lòng đi đến <a href="https://www.lotte.vn/sales/order/history/">Đơn hàng của tôi</a>            ở lotte.vn <br> Theo thứ tự, sản phẩm theo dõi có thể được kích hoạt trong vòng 24 giờ sau khi đặt </p>
        <div class="return-home">
            <a routerLink="/">Quay lại trang chủ LOTTE.VN</a>
        </div>
    </div>
</div>