<div class="top-cate-banner" id="top-cate-banner">
    <div class="section-cate">
        <div class="section-container">
            <h2 class="top-title">Gợi ý cho bạn</h2>
            <ul>
                <li><a title="" href="https://www.lotte.vn/catalog/category/view/s/ao-thun-nam/id/5700/"><span>Áo Thun</span><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/static/cate-banner/men-fashion/Master_VN_MenFashion_13.jpg" alt=""></a></li>
                <li><a title="" href="https://www.lotte.vn/catalog/category/view/s/ao-so-mi-nam/id/5708/"><span>Áo sơ mi</span><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/static/cate-banner/men-fashion/Master_VN_MenFashion_15.jpg" alt=""></a></li>
                <li><a title="" href="https://www.lotte.vn/catalog/category/view/s/ao-khoac/id/5726/"><span>Áo khoác</span><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/static/cate-banner/men-fashion/Master_VN_MenFashion_17.jpg" alt=""></a></li>
                <li><a title="" href="https://www.lotte.vn/catalog/category/view/s/do-lot/id/5740/"><span>Đồ Lót</span><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/static/cate-banner/men-fashion/Master_VN_MenFashion_19.jpg" alt=""></a></li>
                <li><a title="" href="https://www.lotte.vn/catalog/category/view/s/thoi-trang-couple/id/5924/"><span>Thời trang<br>Couple</span><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/static/cate-banner/men-fashion/Master_VN_MenFashion_21.jpg" alt=""></a></li>
                <li><a title="" href="https://www.lotte.vn/catalog/category/view/s/quan-short/id/5717/"><span>Quần Short</span><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/static/cate-banner/men-fashion/Master_VN_MenFashion_23.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>