<nav class="main-nav">
    <div class="container-v">
        <app-header-mega-menu> </app-header-mega-menu>
        
        <ul class="navbar-right">
            <li><a title="Deal Càn Quét" href="/today-deals"><span>Deal</span> Càn Quét</a></li>
            <li><a title="Best 100" href="/best-100">Best <span class="number">100</span></a></li>
            <li><a title="Choice L" href="/lottemart/choice-l/">Choice <span class="img"><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/static/vec/choice-l.png" alt=""></span></a></li>
            <li><a title="Korea Zone" href="/speciall-mall/korea-zone/">Korea Zone</a></li>
            <li><a title="Mẹ &amp; Bé" href="/lottevn/me-be/">Mẹ &amp; Bé</a></li>
            <li class="promotions-menu {{isOpenPromotionNav}}" (mouseleave)="togglePromotionDropdown('close')"><a title="Khuyến Mãi" href="javascript:void(0);" (click)="togglePromotionDropdown('open')"><span>Khuyến Mãi</span></a>
                <div class="dropdown-menu">
                    <!-- start menu -->
                    <div class="dropdown-inner">
                        <!-- row 1 -->
                        <div class="row clearfix">
                            <div class="col col-3">
                                <h3 class="red-color">ƯU ĐÃI TỪ NGÂN HÀNG</h3>
                                <ul>
                                    <li>
                                        <a title="Trả góp lãi suất 0% tất cả ngân hàng" href="/uu-dai-tu-ngan-hang/?from=28_6_KM_Zone1_1_MKT_TraGopNganHang" target="_blank">Trả góp lãi suất 0% tất cả ngân hàng</a>
                                    </li>
                                    <li>
                                        <a title="Nhận E-voucher đến 2.500.000đ" href="/campaign/standard-chartered/?from=28_6_KM_Zone1_2_MKT_SC" target="_blank">Nhận E-voucher đến 2.500.000đ</a>
                                    </li>
                                    <li><a title="Giảm thêm 15% cùng HSBC" href="/promotions/uu-dai-ngan-hang-hsbc/" target="_blank">Giảm thêm 15% cùng HSBC</a></li>
                                    <li>
                                        <a title="Thứ 2 - Giảm thêm 30% cùng thẻ VP Bank" href=" /promotions/uu-dai-the-vpbank/"
                                            target="_blank">Thứ 2 - Giảm thêm 30% cùng VP Bank</a>
                                    </li>
                                    <li>
                                        <a title="Thứ 3 - Giảm thêm 20% cho thẻ quốc tế ACB" href="/promotions/uu-dai-ngan-hang-acb/"
                                            target="_blank">Thứ 3 - Giảm ngay 20% cùng thẻ ACB</a>
                                    </li>
                                    <li>
                                        <a title="Thứ 6 - Giảm thêm 25% cùng thẻ BIDV" href="/promotions/uu-dai-ngan-hang-bidv/"
                                            target="_blank">Thứ 6 - Giảm thêm 25% cùng thẻ BIDV</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-3">
                                <h3 class="red-color">ƯU ĐÃI Độc Quyền</h3>
                                <ul>
                                    <li>
                                        <a title="LG - Sinh nhật hoành tráng - Gía clearance + Qùa cực sang" href="https://www.lotte.vn/campaign/lg-sinh-nhat-vang/"
                                            target="_blank">LG - Sinh nhật hoành tráng</a>
                                    </li>
                                    <li>
                                        <a title="Yves Rocher - Summer Sale - Giảm đến 50%" href="https://www.lotte.vn/campaign/my-pham-yves-rocher/" target="_blank">Yves Rocher - Giảm đến 50%</a>
                                    </li>
                                    <li>
                                        <a title="Komonoya - Đồng giá từ 40K" href="https://www.lotte.vn/campaign/komonoya-dong-gia/"
                                            target="_blank">Komonoya - Đồng giá từ 40K</a>
                                    </li>
                                    <li>
                                        <a title="Mừng lễ lớn - Tưng bừng khuyến mãi đến 50%" href="https://www.lotte.vn/campaign/mart-mung-le/" target="_blank">Mừng lễ lớn - Khuyến mãi đến 50%</a>
                                    </li>
                                    <li>
                                        <a title="Mua sắm nhận quà từ Homeshopping" href="https://www.lotte.vn/campaign/qua-tang-cuoi-tuan/"
                                            target="_blank">Mua sắm nhận quà từ Homeshopping</a>
                                    </li>
                                    <li>
                                        <a title="Mua hàng tặng ngay 50k" href="https://www.lotte.vn/campaign/4-ngay-gia-soc/"
                                            target="_blank">Mua hàng tặng ngay 50k</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-3">
                                <h3 class="red-color">Khuyến Mãi Khủng</h3>
                                <ul>
                                    <li><a title="Cửa hàng nữa giá" href="https://www.lotte.vn/campaign/cua-hang-nua-gia/" target="_blank">Cửa hàng nữa giá - Tất cả giảm 50%</a></li>
                                    <li>
                                        <a title="Thứ 4 Đặc Biệt - Giảm đến 1 Triệu" href="https://www.lotte.vn/campaign/gia-soc-moi-tuan-t4/" target="_blank">Thứ 4 Đặc Biệt - Giảm đến 1 Triệu</a>
                                    </li>
                                    <li>
                                        <a title="Lenovo - Shop in Shop" href="https://www.lotte.vn/campaign/may-tinh-lenovo/"
                                            target="_blank">Lenovo - Shop in Shop</a>
                                    </li>
                                    <li>
                                        <a title="Mang Nắng Vào Nhà | Tiết Kiệm Hơn 50%" href="https://www.lotte.vn/campaign/mang-nang-vao-nha/" target="_blank">Mang Nắng Vào Nhà | Giảm Hơn 50%</a>
                                    </li>
                                    <li>
                                        <a title="Vali Trip - Bảo hành đến 5 năm" href="https://www.lotte.vn/campaign/vali-trip/"
                                            target="_blank">Vali Trip - Bảo hành đến 5 năm</a>
                                    </li>
                                    <li>
                                        <a title="Paula's Choice - Paula's Lựa chọn" href="https://www.lotte.vn/campaign/my-pham-paulas-choice/" target="_blank">Paula's Choice - Paula's Lựa chọn</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end row 1 -->
                        <!-- row 2 -->
                        <div class="row clearfix">
                            <div class="col col-3">
                                <h3>Thời Trang</h3>
                                <ul>
                                    <li>
                                        <a title="PHÚC AN - GIẢM 50%+ - GIÁ CHỈ TỪ 56K" href="https://www.lotte.vn/campaign/thoi-trang-phuc-an/" target="_blank">PHÚC AN - Giảm 50%+ - Giá chỉ từ 56k</a>
                                    </li>
                                    <li>
                                        <a title="Quà tặng bố mùa Vu Lan - Giảm đến 50%" href="https://www.lotte.vn/campaign/thoi-trang-cho-bo/" target="_blank">Quà tặng bố mùa Vu Lan - Giảm 50%</a>
                                    </li>
                                    <li>
                                        <a title="Vera - BST mới Fragile Night - Đã có tại LOTTE.vn - Giảm đến 50% + Quà tặng" href="https://www.lotte.vn/campaign/noi-y-vera/"
                                            target="_blank">Vera - BST mới Fragile Night</a>
                                    </li>
                                    <li>
                                        <a title="Street Style mùa Thu 2017 - Giảm đến 50%" href="https://www.lotte.vn/campaign/street-style-mua-thu/" target="_blank">Street Style mùa Thu 2017</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-3">
                                <h3>Mỹ Phẩm &amp; Thể Thao</h3>
                                <ul>
                                    <li>
                                        <a title="Top Mỹ phẩm chống nắng - Giảm đến 50%" href="https://www.lotte.vn/campaign/top-my-pham-chong-nang/" target="_blank">Mỹ phẩm chống nắng - Giảm đến 50%</a>
                                    </li>
                                    <li>
                                        <a title="Hương thơm tươi mát - Giảm đến 40%" href="https://www.lotte.vn/campaign/huong-thom-tuoi-mat/" target="_blank">Hương thơm tươi mát - Giảm đến 40%</a>
                                    </li>
                                    <li>
                                        <a title="Top Thể thao bán chạy - Giảm đến 50%" href="https://www.lotte.vn/campaign/top-the-thao-ban-chay/" target="_blank">Top Thể thao bán chạy - Giảm đến 50%</a>
                                    </li>
                                    <li>
                                        <a title="Trang phục &amp; Phụ kiện bóng đá - Giảm đến 45%" href="https://www.lotte.vn/campaign/phu-kien-bong-da/" target="_blank">Trang phục &amp; Phụ kiện bóng đá - Giảm đến 45%</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-3">
                                <h3>Mẹ Bé &amp; Tiêu Dùng</h3>
                                <ul>
                                    <li>
                                        <a title="Bé khỏe mẹ xinh tươi" href="https://www.lotte.vn/campaign/be-khoe-me-xinh/"
                                            target="_blank">Bé khỏe mẹ xinh tươi</a>
                                    </li>
                                    <li>
                                        <a title="Biti’s cho bé – New Arrival" href="https://www.lotte.vn/campaign/giay-bitis-cho-be/"
                                            target="_blank">Biti’s cho bé – New Arrival</a>
                                    </li>
                                    <li>
                                        <a title="Omron - Thiết bị y tế - Giảm đến 30%" href="https://www.lotte.vn/campaign/thiet-bi-y-te-omron/" target="_blank">Omron - Thiết bị y tế - Giảm đến 30%</a>
                                    </li>
                                    <li>
                                        <a title="Thực phẩm bổ sung - Tăng cơ - Đốt mỡ - Ưu đãi 10% - Bảo đảm an toàn" href="https://www.lotte.vn/campaign/thuc-pham-bo-sung/"
                                            target="_blank">Thực phẩm bổ sung - Ưu đãi 10%</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end row 2 -->
                        <!-- row 3 -->
                        <div class="row clearfix">
                            <div class="col col-3">
                                <h3>Giày, Túi &amp; Phụ Kiện</h3>
                                <ul>
                                    <li>
                                        <a>Daniel Wellington - Giảm 40%</a>
                                    </li>
                                    <li>
                                        <a>Cindyrella - New Collection</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-3">
                                <h3>Điện Tử</h3>
                                <ul>
                                    <li>
                                        <a title="Bộ ảnh phượt cuối hè" href="https://www.lotte.vn/campaign/bo-anh-phuot-cuoi-he/"
                                            target="_blank">Bộ ảnh phượt cuối hè</a>
                                    </li>
                                    <li>
                                        <a title="Top di động bán chạy 2017" href="https://www.lotte.vn/campaign/di-dong-ban-chay/"
                                            target="_blank">Top di động bán chạy 2017</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-3">
                                <h3>Đời Sống &amp; Gia Dụng</h3>
                                <ul>
                                    <li>
                                        <a title="Thương hiệu Gia Dụng Nội Trợ Tin Dùng | Tiết Kiệm Hơn 50%" href="https://www.lotte.vn/campaign/thap-sang-ngoi-nha-mo-uoc/"
                                            target="_blank">Thương hiệu Gia Dụng | Giảm Hơn 50%</a>
                                    </li>
                                    <li>
                                        <a title="Gia dụng ưu đãi, mua sắm thoải mái" href="https://www.lotte.vn/campaign/gia-dung-uu-dai/"
                                            target="_blank">Gia dụng ưu đãi, mua sắm thoải mái</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end row 3 -->
                    </div>
                    <!-- end menu -->
                </div>
            </li>
        </ul>
        <!-- Account links -->
    </div>
</nav>