<section class="footer-top">
    <div class="container-v">
        <div class="inner clearfix">
            <div class="col">
                <h3>Hỗ trợ Khách hàng</h3>
                <p class="hotline">1900 1907</p>
                <ul>
                    <li><a href="/shoppingguide/guide/huong-dan-dat-hang/">Hướng dẫn đặt hàng</a></li>
                    <li><a href="/shoppingguide/guide/huong-dan-thanh-toan/">Hướng dẫn thanh toán</a></li>
                    <li><a href="/shoppingguide/guide/chinh-sach-van-chuyen/">Chính sách vận chuyển</a></li>
                    <li><a href="/shoppingguide/guide/huong-dan-doi-tra/">Chính sách đổi trả</a></li>
                    <li><a href="/faq/">Câu hỏi thường gặp</a></li>
                    <li><a href="/customer_service">Gửi yêu cầu hỗ trợ</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>LOTTE.VN</h3>
                <ul>
                    <li><a href="/ve-chung-toi">Về chúng tôi</a></li>
                    <li><a href="/umicrosite/vendor/register/" target="_blank">Bán hàng cùng LOTTE.VN</a></li>
                    <li><a href="/hop-tac-thuong-hieu/">Hợp tác phát triển thương hiệu</a></li>
                    <li><a href="/quy-che-hoat-dong">Quy chế hoạt động Sàn TMĐT</a></li>
                    <li><a href="/co-hoi-nghe-nghiep">Tuyển dụng nhân tài</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>NHỮNG THÔNG TIN CẦN BIẾT</h3>
                <ul class="links">
                    <li><a href="/chinh-sach-bao-mat">Bảo mật thông tin</a></li>
                    <li><a href="/dieu-kien-va-dieu-khoan">Điều khoản và Điều kiện</a></li>
                </ul>
                <div class="socials-link">
                    <h3>Kết nối để nhận tin mới nhất</h3>
                    <p><a class="btn-facebook" title="Facebook" href="https://www.facebook.com/lottevnonline" target="_blank"><span>Facebook</span></a>                        <a class="btn-instargram" title="Instargram" href="https://www.instagram.com/lotteonline/" target="_blank"><span>Instargram</span></a>
                        <a class="btn-youtube" title="Youtube" href="https://www.youtube.com/channel/UCngSTYUpCrOKfy-1U3FtGfA"
                            target="_blank"><span>Youtube</span></a>
                            <a class="btn-zalo" title="Zalo" href="http://qr.talk.zdn.vn/2/166698782/0324b02ead60443e1d71"
                                target="_blank"><span>Zalo</span></a>
                    </p>
                </div>
            </div>
            <div class="col col-last">
                <div class="subscrible-form">
                    <h3>Bạn là khách hàng mới?</h3>
                    <p class="voucher">Đăng ký nhận mã giảm giá <strong>100,000 vnđ</strong></p>
                    <form class="form subscribe" novalidate="novalidate" action="https://www.lotte.vn/newsletter/subscriber/new/" method="post"
                        id="newsletter-validate-detail">
                        <div class="control field newsletter">
                            <input name="email" type="email" id="newsletter" placeholder="Email của bạn" data-validate="{required:true, 'validate-email':true}">
                        </div>
                        <div class="actions">
                            <input id="h_gender" type="hidden" name="subscriber_gender" value="3">
                            <button data-val="1" class="btn_subscribe action subscribe primary" title="Đăng ký nhận bản tin khuyến mãi" type="submit">
            <span>Nam</span>
        </button>
                            <button data-val="2" class="btn_subscribe action subscribe primary" title="Đăng ký nhận bản tin khuyến mãi" type="submit">
            <span>Nữ</span>
        </button>
                        </div>
                        </form>
                </div>
            </div>
            <div>
                <div class="widget block block-static-block">
                    <style type="text/css">
                        /***********/
                        
                        .campaign-page .head-title,
                        .launching-page .head-title,
                        .promotion-wrap .head-title {
                            margin-bottom: 0
                        }
                        /*********/
                        
                        .products-list .gift-voucher-label {
                            display: none !important;
                        }
                        /**** product detail */
                        
                        .product-information .product-options-bottom {
                            clear: both;
                        }
                        
                        .product-information .product-options-wrapper .fieldset > .field {
                            display: block;
                            zoom: 1;
                        }
                        
                        .product-information .product-options-wrapper .fieldset > .field:after {
                            content: " ";
                            display: block;
                            font-size: 0;
                            height: 0;
                            clear: both;
                            visibility: hidden;
                        }
                        /******home page */
                        
                        .section-featured-recommendations .products-list .item-product {
                            display: block;
                            width: 100% !important;
                        }
                        
                        .option-sizes .size-chart {
                            margin-bottom: 10px;
                        }
                    </style>
                </div>
            </div>
            <div>
                <div class="widget block block-static-block">
                    <div>
                        <div class="widget block block-static-block">
                            <style type="text/css">
                                .popup-banner-bottom {
                                    bottom: 5px;
                                    left: 50%;
                                    margin-left: -635px;
                                    position: fixed;
                                    z-index: 500
                                }
                                
                                .popup-banner-bottom .inner {
                                    position: relative
                                }
                                
                                .popup-banner-bottom .banner-s {
                                    position: relative;
                                    z-index: 2
                                }
                                
                                .popup-banner-bottom .banner-s img {
                                    border-radius: 6px;
                                    -webkit-border-radius: 6px;
                                }
                                
                                .popup-banner-bottom.open .banner-s {
                                    position: static;
                                    z-index: 1
                                }
                                
                                .popup-banner-bottom.open .banner-l {
                                    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
                                    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
                                    width: 503px;
                                    height: 225px;
                                    opacity: 1;
                                    z-index: 900
                                }
                                
                                .popup-banner-bottom .banner-l {
                                    overflow: hidden;
                                    opacity: 0;
                                    position: fixed;
                                    z-index: 0;
                                    width: 82px;
                                    height: 124px;
                                    bottom: -5px;
                                    -webkit-transition: all .6s ease;
                                    -moz-transition: all .6s ease;
                                    transition: all .6s ease
                                }
                                
                                .popup-banner-bottom .btn-close {
                                    background-color: #000;
                                    border-radius: 50%;
                                    color: #fff;
                                    height: 33px;
                                    position: absolute;
                                    right: 2px;
                                    top: 0px;
                                    width: 33px;
                                    z-index: 2
                                }
                                
                                .popup-banner-bottom .btn-close span {
                                    display: block;
                                    position: relative;
                                    -ms-transform: rotate(45deg);
                                    -webkit-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    margin: 0;
                                    width: 100%;
                                    height: 33px;
                                    opacity: .8
                                }
                                
                                .popup-banner-bottom .btn-close span:after,
                                .popup-banner-bottom .btn-close span:before {
                                    content: "";
                                    background: #fff;
                                    position: absolute
                                }
                                
                                .popup-banner-bottom .btn-close span:before {
                                    width: 20px;
                                    height: 1px;
                                    left: 6px;
                                    top: 15px
                                }
                                
                                .popup-banner-bottom .btn-close span:after {
                                    height: 20px;
                                    left: 16px;
                                    top: 6px;
                                    width: 1px
                                }
                                
                                .popup-banner-bottom .btn-close:focus span,
                                .popup-banner-bottom .btn-close:hover span {
                                    opacity: 1
                                }
                            </style>
                        </div>
                    </div>
                    <div id="popup-banner-bottom" class="popup-banner-bottom">
                        <div class="inner">
                            <div id="banner-s" class="banner-s">
                                <a href="javascript: void(0);">
                                    <img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/LNB/Thang8-9/PopUp_Holder.png"
                                        alt="" width="82" height="124"></a>
                            </div>
                            <div class="banner-l">
                                <img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/LNB/Thang8-9/Pop_Up.png" alt=""
                                    width="500" height="210"> <a id="btn-close" class="btn-close" href="javascript:void(0);"><span>&nbsp;</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="widget block block-static-block">
                </div>
            </div>
            <div>
                <div class="widget block block-static-block">
                    <style type="text/css">
                        .lpoint-info-banner {
                            margin-bottom: 30px;
                            position: relative;
                            display: block;
                            font-size: 12px;
                        }
                        
                        .lpoint-info-banner a {
                            position: absolute;
                            bottom: 21px;
                            z-index: 2;
                            color: #55ba5e;
                            font-family: NotoSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
                            display: inline-block
                        }
                        
                        .lpoint-info-banner a:focus,
                        .lpoint-info-banner a:hover {
                            color: #069913
                        }
                        
                        .lpoint-info-banner a.link-1 {
                            right: 238px
                        }
                        
                        .lpoint-info-banner a.link-2 {
                            right: 18px
                        }
                    </style>
                </div>
            </div>
            <div>
                <div class="widget block block-static-block">
                </div>
            </div>
        </div>
        <div class=" selling-point-content">
            <div class="col"><span class="icon-1">Hỗ trợ hết mình</span>
                <div class="content">
                    <h4>Hỗ trợ hết mình</h4>
                    <p>Đặt khách hàng lên trên hết</p>
                </div>
            </div>
            <div class="col"><span class="icon-2">Đảm bảo chất lượng</span>
                <div class="content">
                    <h4>Đảm bảo chất lượng</h4>
                    <p>Giá cả cạnh tranh</p>
                </div>
            </div>
            <div class="col"><span class="icon-3">Miễn phí đổi trả</span>
                <div class="content">
                    <h4>Miễn phí đổi trả</h4>
                    <p>7 ngày an tâm đổi trả</p>
                </div>
            </div>
        </div>
    </div>
</section>