<div class="sticky-left-promo">
    <ul class="bank-info">
        <li>
            <a href="/campaign/uu-dai-ngan-hang" target="_blank"><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/uu-dai-ngan-hang_1.jpg" alt="" width="85" height="110"></a>
        </li>
        <li>
            <a href="/uu-dai-tu-ngan-hang/" target="_blank"><img src="https://d1710i1dsqwesz.cloudfront.net/media/wysiwyg/static/vec/tra-gop-2.jpg" alt=""></a>
        </li>
    </ul>
    <ul class="info-type">
        <li><a title="Điểm L-Point" href="/campaign/l-point-launching/" target="_blank"><span class="icon-lpoint">&nbsp;</span>Điểm L-Point</a></li>
    </ul>
</div>