<script type="text/javascript">
    CloudZoom.quickStart();

</script>

<div class="product-detail lt-product-detail">
    <h1 class="product-title">Áo Sơ Mi Trắng Dài Tay Sang Trọng</h1>
    <p class="brand-name-info">Thương hiệu:
        <a href="https://www.lotte.vn/brand/titi.html" title="Ti Ti Fashion">Ti Ti Fashion</a>
    </p>

    <div class="product-content clearfix">
        <div class="product-media">
            <div class="loading hidden" id="loading-left">Loading</div>
            <div class="amasty-label-wrapper" style="position: relative;">
                <div class="amasty-label-container override_amsty_label_default family_badge family_badge amasty-label-container-1-342698-1125449442357"
                    id="amasty-label-container-1-342698-1125449442357" style="line-height: normal; height: 76px; position: absolute; z-index: 995; top: 0px; left: 0px;">
                    <img class="amasty-label-image" id="amasty-label-image-1-342698" src="https://d1710i1dsqwesz.cloudfront.net/media/amasty/amlabel/Productpagelabel.png"
                        style="opacity: 1 !important; width: 100%;" title="" alt="">
            </div>
        </div>

        <div class="lt-product-detail__media">
            <img data-zoom-image="https://d1710i1dsqwesz.cloudfront.net/media/catalog/product/cache/1/image/e9c3970ab036de70892d86c6d221abfe/2/0/201_1494387028_8-12-149407742921493968651798_3536998.jpg"
                src="https://d1710i1dsqwesz.cloudfront.net/media/catalog/product/cache/1/image/380x494/e9c3970ab036de70892d86c6d221abfe/2/0/201_1494387028_8-12-149407742921493968651798_3536998.jpg">

        </div>

        <div class="lt-product-detail__carousel">
            <owl-carousel [options]="owlCarouselOptions" [carouselClasses]="['', 'row', 'sliding']">
                <div class="lt-product-detail__carousel--item" *ngFor="let image of [1, 2, 3, 4, 7, 8, 10, 22, 412, 4124 ,421 ,421,421,421,41];let i = index">
                    <img src="https://d1710i1dsqwesz.cloudfront.net/media/catalog/product/cache/1/small_image/152x198/beff4985b56e3afdbeabfc89641a4582/1/2/1273_1506330401_8_ao_1.jpg"
                        alt="Áo Thun Nam Giovanni UT202-BL Màu Đen">
                </div>
            </owl-carousel>

        </div>
    </div>

    <div class="product-information">
        <div class="product-info-price">
            <div class="price-box price-final_price">
                <div class="product-price">
                    <p class="special-price">
                        <span class="current-price" id="special_price"><span class="price">4.400.000&nbsp;Đ</span></span>
                    </p>
                </div>
            </div>
        </div>

        <div id="promotion-dec">
            <div class="promotion-infos">
                <h4>Tiết kiệm hơn khi nhập Mã Giảm Giá</h4>
                <div class="promotion-row">
                    <ul class="clearfix">
                        <li>Chỉ còn</li>
                        <li class="pro-col-2">4.048.000đ</li>
                        <li>
                            <div>Nhập mã: <strong>MUALAN</strong> (-8%) </div>
                            <div class="pro-tips">
                                <div class="tips-content">
                                    <div class="inner">- Mã giảm giá MUALAN giảm thêm 6%, mức mức giảm tối đa 400.000đ áp dụng cho các đơn hàng
                                        trên 500.000đ.<br>- Mỗi tài khoản chỉ được áp dụng mỗi mã giảm giá một lần đến hết
                                        ngày 28/09/2017.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="promotion-row">
                    <p class="pro-noted">- Mã giảm giá MUALAN giảm thêm 8%, mức mức giảm tối đa 400.000đ áp dụng cho các đơn hàng trên 500.000đ.
                        <br>- Mỗi tài khoản chỉ được áp dụng mỗi mã giảm giá một lần đến hết ngày 28/09/2017.</p>
                </div>
            </div>
        </div>

        <p class="installment-notes">
            Trả góp 0%
            <span class="install-from">Lãi suất (Chỉ từ <span class="price">366.667&nbsp;Đ</span>/tháng)</span>
            <a target="_blank" href="https://www.lotte.vn/uu-dai-tu-ngan-hang/">Chi Tiết</a>
        </p>

        <div class="product-add-form">
            <form id="product_addtocart_form" novalidate>
                <div class="product-options-wrapper" id="product-options-wrapper">
                    <div class="fieldset">
                        <div class="swatch-opt option-sizes">
                            <div class="swatch-attribute el_color">
                                <span class="swatch-attribute-label">Màu sắc</span>

                                <div class="swatch-attribute-options clearfix">
                                    <div class="swatch-option text" option-type="0" option-id="1538" option-label="Đen" option-tooltip-thumb="" option-tooltip-value="Đen">Đen</div>
                                    <div class="swatch-option text" option-type="0" option-id="1563" option-label="Xanh dương" option-tooltip-thumb="" option-tooltip-value="Xanh dương">Xanh dương</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-options-bottom">
                    <div class="box-tocart">
                        <div class="fieldset">
                            <div class="qty-box">
                                <label for="qty">Số lượng:</label>
                                <div class="inner clearfix">
                                    <button type="button" class="btn-decrease">-</button>
                                    <button type="button" class="btn-increase">+</button>
                                    <input type="number" name="qty" id="qty" maxlength="12" value="1" title="Số lượng" class="input-text qty validate-greater-than-zero txt">
                                </div>
                            </div>

                            <ul class="cart-buttons">
                                <li>
                                    <button type="submit" title="Thêm vào giỏ hàng" class="action tocart btn-addtocart" id="product-addtocart-button">
                                                <span>Thêm vào giỏ hàng</span>
                                            </button>
                                </li>
                                <li>
                                    <button type="button" title="Thanh toán" class="btn-checkout" id="product-addtocart-button-checkout"><span>Thanh toán</span></button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-gifts-box" id="gift-box">
                        <h3>Quà tặng khuyến mãi:</h3>
                        <ul id="list-gift">
                            <li class="clearfix">
                                <div class="img">
                                    <img src="https://d1710i1dsqwesz.cloudfront.net/media/gift/message/t/i/titi_ao_thun.jpg" alt="">
                                    <div class="tooltip-info">
                                        <div class="tooltip-inner">
                                            <div class="tooltip-img">
                                                <img src="https://d1710i1dsqwesz.cloudfront.net/media/gift/message/t/i/titi_ao_thun.jpg" alt=""></div>
                                            <p class="noted"><span>i</span>Lưu ý</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="info">
                                    <p class="gift-tag"><span>Tặng</span></p>
                                    <div class="txt">
                                        <p>Từ ngày 20/7/2017 đến hết ngày 31/12/2017, khi mua sản phẩm của Ti Ti Fashion với
                                            hóa đơn trên 300.000 VND tặng 1 áo thun nam trị giá 120.000 VND (màu ngẫu nhiên)</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="product-right-content">
        <div class="inner-content">
            <ul>
                <li class="seller-logo">
                    <img alt="" src="https://d1710i1dsqwesz.cloudfront.net/media/logo/default/logo-01_10.png">
                </li>

                <li><span class="icons icon-3"></span>
                    <p><a href="https://www.lotte.vn/Hang-Chinh-Hang-FPT">Được cung cấp bởi <br><strong class="seller-name">Hàng Chính Hãng FPT</strong></a></p>
                    <p class="product-total">Sản phẩm hiện có (241)</p>
                </li>

                <li class="product-notes"><span class="icons icon-2-3"></span>
                    <p>07 ngày đổi trả hàng miễn phí</p>
                </li>
                <li class="shipping-info-block">
                    <p class="ship-title">
                        <span class="icons icon-1"></span> Thông tin giao hàng
                    </p>
                    <p><strong>Giao hàng tiêu chuẩn</strong></p>
                    <p>Từ 2 - 4 ngày ngày làm việc</p>
                </li>
            </ul>

            <div class="bottom-block">
                <div class="shipping-fee">
                    <h3>Phí giao hàng</h3>
                    <div class="shipping-info">
                        <span class="free-fee">Miễn phí</span> Khi mua đơn hàng trên <span class="price">150.000&nbsp;Đ</span>
                    </div>

                    <div class="shipping-info">
                        <span class="first"><span class="price">10.000&nbsp;Đ</span></span> Khi mua đơn hàng dưới
                        <span class="price">150.000&nbsp;Đ</span>
                    </div>
                </div>

                <div class="vendor-location-info open">
                    <p class="btn-area"></p>
                    <a href="javascript:void(0)" class="">Chọn khu vực giao hàng </a>
                    <div class="location-form">
                        <select id="region_id" name="region_id"> 
                                    <option value="0">Tỉnh/Thành phố</option>
                                    <option value="1087">Hà Nội</option>
                                    <option selected="selected" value="1086">Hồ Chí Minh</option>
                                </select>

                        <select id="district_id" name="district_id"> 
                                    <option value="0">Quận/ Huyện</option>
                                    <option value="760">Bình Chánh</option>
                                    <option value="716">Bình Thạnh</option>
                                </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="addto-wishlist">
            <button type="button" class="label action bookmark button">
                        <span>Danh sách yêu thích</span>
                    </button>
        </div>

        <div class="clearfix socials-list">
            <a title="Facebook" class="icon-fb">
                <span>Facebook</span>
            </a>
            <a class="icon-twitter" title="Twitter">
                <span>Twitter</span>
            </a>
            <a class="icon-googleplus" title="Google">
                <span>Google</span>
            </a>
        </div>
    </div>
</div>
</div>