<div class="floated-component floated-right floated-recent-views initialized floated-now" style="right: 331.5px;">
    <div class="block widget block-viewed-products-grid">
        <div class="title">
            Đã xem (3) </div>
        <div class="block-content">
            <!-- recently_viewed_products_images_only_widget-->
            <div class="products-grid grid">
                <div class="controls">
                    <span class="up disabled hide"><a class="bx-prev disabled" href="">Up</a></span>
                </div>
                <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 239px;">
                        <ol class="items float-grid" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                            <li class="product" style="float: none; list-style: none; position: relative; margin-bottom: 4px; width: 60px;">
                                <a href="https://www.lotte.vn/sua-rua-mat-lam-trang-da-pond-s-50g.html" class="photo" style="position: relative;">
                                    <img src="https://d1710i1dsqwesz.cloudfront.net/media/catalog/product/cache/1/small_image/75x98/beff4985b56e3afdbeabfc89641a4582/8/9/8934868063308_1.jpg"
                                        width="75" height="98" alt="Sữa Rửa Mặt Làm Trắng Da Pond's 50G">

                                        <div class="amasty-label-container override_amsty_label_default family_badge family_badge amasty-label-container-3-17757-354349613298"
                                            id="amasty-label-container-3-17757-354349613298" style="display: block; width: 112px; line-height: normal; height: 49px; position: absolute; z-index: 995; top: 0px; left: 0px;">
                                            <img class="amasty-label-image" id="amasty-label-image-3-17757" src="https://d1710i1dsqwesz.cloudfront.net/media/amasty/amlabel/1LTMSAIGON.jpg"
                                                style="opacity: 1 !important; width: 100%;" title="" alt="">
                    </div>

                    </a>
                    </li>
                    <li class="product" style="float: none; list-style: none; position: relative; margin-bottom: 4px; width: 60px;">
                        <a href="https://www.lotte.vn/bo-lau-nha-comfort-mop-x3-megahome-new-mau-do-222247.html" class="photo" style="position: relative;">
                            <img src="https://d1710i1dsqwesz.cloudfront.net/media/catalog/product/cache/1/small_image/75x98/beff4985b56e3afdbeabfc89641a4582/8/9/8938507049883_4.jpg"
                                width="75" height="98" alt="Bộ Lau Nhà Comfort Mop X3 MegaHome New Màu Đỏ">

                                <div class="amasty-label-container override_amsty_label_default family_badge family_badge amasty-label-container-3-294974-1485702329184"
                                    id="amasty-label-container-3-294974-1485702329184" style="display: block; width: 112px; line-height: normal; height: 49px; position: absolute; z-index: 995; top: 0px; left: 0px;">
                                    <img class="amasty-label-image" id="amasty-label-image-3-294974" src="https://d1710i1dsqwesz.cloudfront.net/media/amasty/amlabel/1LTMSAIGON.jpg"
                                        style="opacity: 1 !important; width: 100%;" title="" alt="">
                </div>

                </a>
                </li>
                <li class="product" style="float: none; list-style: none; position: relative; margin-bottom: 4px; width: 60px;">
                    <a href="https://www.lotte.vn/ao-so-mi-nam-slim-fit-dai-tay-mattana-caro-xanh-295761.html" class="photo">
                        <img src="https://d1710i1dsqwesz.cloudfront.net/media/catalog/product/cache/1/small_image/75x98/beff4985b56e3afdbeabfc89641a4582/4/1/413_1497494690_9-98-1z.jpg"
                            width="75" height="98" alt="Áo Sơ Mi Nam Slim Fit Dài Tay MATTANA - Caro Xanh">

                    </a>
                </li>
                </ol>
            </div>
            <div class="bx-controls"></div>
        </div>
        <div class="controls">
            <span class="down hide"><a class="bx-next disabled" href="">Down</a></span>
        </div>
    </div>

</div>
</div>


<!--TODO: Back to top-->
<div class="backtotop-container">
    <a href="#" id="btn-back-to-top" class="scrollToTop">Top</a>
</div>
</div>