<div class="column main">
    <div class="page-title-wrapper">
        <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
            <span class="base" data-ui-id="page-title-wrapper">Thời Trang Nam Trẻ Trung</span> </h1>
    </div>

    <div>
        <p class="toolbar-number">Tìm thấy <span class="toolbar-number">{{productsCount$ | async}}</span> kết quả</p>

        <lt-products-pagination> </lt-products-pagination>

        <lt-products-list> </lt-products-list>

        <lt-products-pagination> </lt-products-pagination>
    </div>
</div>